body {
    font-family: 'Andika', sans-serif;
    margin: 0;
    color: white;
}

a {
    color: greenyellow;
}

h2, h3 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 25px;
}

.background {
    width: 100%;
    height: 100%;
    background: url("https://raw.githubusercontent.com/Sckmdg/sckmdg.github.io/master/background.jpeg") center center;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    margin: 10px auto;
    background-color: rgba(0,0,0,.7);
    position: relative;
    padding-top: 40px;
    height: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    max-width: 1200px;
    position: fixed;
    left: 0;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    z-index: 10;
}

.header--item {
    margin: 20px;
}

.photo-products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px
}

.photo-products__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 30%;
    width: 100%;
}

.photo-products__item h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.photo-products__item img {
    width: 100%;
}

.main-title {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 0;
    border-bottom: 1px solid white;
}

.product {
    padding: 15px;
    opacity: 0;
    position: absolute;
    left: -1000px;
    transition: all .2s ease;
}
.product--active {
    opacity: 1;
    position: relative;
    left: 0;
}

.product-item__container {
    display: flex;
    padding: 15px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item__container .product__item {
    flex: 0 45%;
}

.product__item {
    margin-bottom: 25px;
}

.product__item .title {
    text-align: center;
}

.product__item .description {
    text-align: left;
}

.contacts {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
}

